target
tests/jms-tests/data
org.eclipse.jdt.core.prefs
org.eclipse.jdt.ui.prefs
!etc/org.eclipse.jdt.ui.prefs
!etc/org.eclipse.jdt.core.prefs
org.maven.ide.eclipse.prefs
.classpath
/bin

# /
/build
/eclipse-output
/thirdparty
/logs
/ObjectStore
/tmp
/data
/junit*.properties
/target
/.metadata

# /distribution/
/distribution/target
/distribution/.project

# /distribution/hornetq/
/distribution/hornetq/.project

# /distribution/jnp-client/
/distribution/jnp-client/target
/distribution/jnp-client/bin
/distribution/jnp-client/.project

# /docs/
/docs/.project

# /docs/eap-manual/
/docs/eap-manual/build

# /docs/quickstart-guide/
/docs/quickstart-guide/build
/docs/quickstart-guide/target

# /docs/user-manual/
/docs/user-manual/build
/docs/user-manual/target
/docs/user-manual/bin
/docs/user-manual/.project

# /examples/
/examples/bin
/examples/.project

# /examples/common/
/examples/common/build

# /examples/core/embedded/
/examples/core/embedded/logs
/examples/core/embedded/build

# /examples/core/embedded-remote/
/examples/core/embedded-remote/build

# /examples/core/microcontainer/
/examples/core/microcontainer/build

# /examples/core/perf/
/examples/core/perf/build
/examples/core/perf/data
/examples/core/perf/logs

# /examples/javaee/ejb-jms-transaction/
/examples/javaee/ejb-jms-transaction/build

# /examples/javaee/hajndi/
/examples/javaee/hajndi/build

# /examples/javaee/jca-config/
/examples/javaee/jca-config/build

# /examples/javaee/jms-bridge/
/examples/javaee/jms-bridge/build

# /examples/javaee/mdb-cmt-tx-local/
/examples/javaee/mdb-cmt-tx-local/build

# /examples/javaee/mdb-cmt-tx-required/
/examples/javaee/mdb-cmt-tx-required/build

# /examples/javaee/servlet-ssl/
/examples/javaee/servlet-ssl/build

# /examples/javaee/servlet-transport/
/examples/javaee/servlet-transport/build

# /examples/javaee/xarecovery/
/examples/javaee/xarecovery/build

# /examples/jms/
/examples/jms/build

# /examples/jms/applet/
/examples/jms/applet/build

# /examples/jms/applet/server0/
/examples/jms/applet/server0/data

# /examples/jms/application-layer-failover/
/examples/jms/application-layer-failover/build
/examples/jms/application-layer-failover/logs

# /examples/jms/application-layer-failover/server0/
/examples/jms/application-layer-failover/server0/data
/examples/jms/application-layer-failover/server0/logs

# /examples/jms/application-layer-failover/server1/
/examples/jms/application-layer-failover/server1/data
/examples/jms/application-layer-failover/server1/logs
/examples/jms/application-layer-failover/server1/KILL_ME

# /examples/jms/bridge/
/examples/jms/bridge/build
/examples/jms/bridge/logs

# /examples/jms/bridge/server0/
/examples/jms/bridge/server0/data
/examples/jms/bridge/server0/logs

# /examples/jms/bridge/server1/
/examples/jms/bridge/server1/data
/examples/jms/bridge/server1/logs

# /examples/jms/browser/
/examples/jms/browser/build
/examples/jms/browser/logs

# /examples/jms/browser/server0/
/examples/jms/browser/server0/data
/examples/jms/browser/server0/logs

# /examples/jms/client-kickoff/
/examples/jms/client-kickoff/build
/examples/jms/client-kickoff/logs

# /examples/jms/client-kickoff/server0/
/examples/jms/client-kickoff/server0/data
/examples/jms/client-kickoff/server0/logs

# /examples/jms/client-side-load-balancing/
/examples/jms/client-side-load-balancing/build
/examples/jms/client-side-load-balancing/logs

# /examples/jms/client-side-load-balancing/server0/
/examples/jms/client-side-load-balancing/server0/data
/examples/jms/client-side-load-balancing/server0/logs

# /examples/jms/client-side-load-balancing/server1/
/examples/jms/client-side-load-balancing/server1/data
/examples/jms/client-side-load-balancing/server1/logs

# /examples/jms/client-side-load-balancing/server2/
/examples/jms/client-side-load-balancing/server2/data
/examples/jms/client-side-load-balancing/server2/logs

# /examples/jms/clustered-durable-subscription/
/examples/jms/clustered-durable-subscription/build
/examples/jms/clustered-durable-subscription/logs

# /examples/jms/clustered-durable-subscription/server0/
/examples/jms/clustered-durable-subscription/server0/data
/examples/jms/clustered-durable-subscription/server0/logs

# /examples/jms/clustered-durable-subscription/server1/
/examples/jms/clustered-durable-subscription/server1/data
/examples/jms/clustered-durable-subscription/server1/logs

# /examples/jms/clustered-queue/
/examples/jms/clustered-queue/build
/examples/jms/clustered-queue/logs

# /examples/jms/clustered-queue/server0/
/examples/jms/clustered-queue/server0/data
/examples/jms/clustered-queue/server0/logs

# /examples/jms/clustered-queue/server1/
/examples/jms/clustered-queue/server1/data
/examples/jms/clustered-queue/server1/logs

# /examples/jms/clustered-topic/
/examples/jms/clustered-topic/build
/examples/jms/clustered-topic/logs

# /examples/jms/clustered-topic/server0/
/examples/jms/clustered-topic/server0/data
/examples/jms/clustered-topic/server0/logs

# /examples/jms/clustered-topic/server1/
/examples/jms/clustered-topic/server1/data
/examples/jms/clustered-topic/server1/logs

# /examples/jms/consumer-rate-limit/
/examples/jms/consumer-rate-limit/build
/examples/jms/consumer-rate-limit/logs

# /examples/jms/consumer-rate-limit/server0/
/examples/jms/consumer-rate-limit/server0/data
/examples/jms/consumer-rate-limit/server0/logs

# /examples/jms/dead-letter/
/examples/jms/dead-letter/build
/examples/jms/dead-letter/logs

# /examples/jms/dead-letter/server0/
/examples/jms/dead-letter/server0/data
/examples/jms/dead-letter/server0/logs

# /examples/jms/delayed-redelivery/
/examples/jms/delayed-redelivery/build
/examples/jms/delayed-redelivery/logs

# /examples/jms/delayed-redelivery/server0/
/examples/jms/delayed-redelivery/server0/data
/examples/jms/delayed-redelivery/server0/logs

# /examples/jms/divert/
/examples/jms/divert/build
/examples/jms/divert/logs

# /examples/jms/divert/server0/
/examples/jms/divert/server0/data
/examples/jms/divert/server0/logs

# /examples/jms/divert/server1/
/examples/jms/divert/server1/data
/examples/jms/divert/server1/logs

# /examples/jms/durable-subscription/
/examples/jms/durable-subscription/build
/examples/jms/durable-subscription/logs

# /examples/jms/durable-subscription/server0/
/examples/jms/durable-subscription/server0/data
/examples/jms/durable-subscription/server0/logs

# /examples/jms/embedded/
/examples/jms/embedded/logs
/examples/jms/embedded/build

# /examples/jms/expiry/
/examples/jms/expiry/build
/examples/jms/expiry/logs

# /examples/jms/expiry/server0/
/examples/jms/expiry/server0/data
/examples/jms/expiry/server0/logs

# /examples/jms/http-transport/
/examples/jms/http-transport/build
/examples/jms/http-transport/logs

# /examples/jms/http-transport/server0/
/examples/jms/http-transport/server0/data
/examples/jms/http-transport/server0/logs

# /examples/jms/instantiate-connection-factory/
/examples/jms/instantiate-connection-factory/build
/examples/jms/instantiate-connection-factory/logs

# /examples/jms/instantiate-connection-factory/server0/
/examples/jms/instantiate-connection-factory/server0/data
/examples/jms/instantiate-connection-factory/server0/logs

# /examples/jms/interceptor/
/examples/jms/interceptor/build
/examples/jms/interceptor/logs

# /examples/jms/interceptor/server0/
/examples/jms/interceptor/server0/data
/examples/jms/interceptor/server0/logs

# /examples/jms/jaas/
/examples/jms/jaas/build
/examples/jms/jaas/logs

# /examples/jms/jaas/server0/
/examples/jms/jaas/server0/data
/examples/jms/jaas/server0/logs

# /examples/jms/jms-bridge/
/examples/jms/jms-bridge/build
/examples/jms/jms-bridge/data

# /examples/jms/jmx/
/examples/jms/jmx/build
/examples/jms/jmx/logs

# /examples/jms/jmx/server0/
/examples/jms/jmx/server0/data
/examples/jms/jmx/server0/logs

# /examples/jms/large-message/
/examples/jms/large-message/build
/examples/jms/large-message/logs
/examples/jms/large-message/huge_message_received.dat
/examples/jms/large-message/huge_message_to_send.dat

# /examples/jms/large-message/server0/
/examples/jms/large-message/server0/logs
/examples/jms/large-message/server0/data

# /examples/jms/last-value-queue/
/examples/jms/last-value-queue/build
/examples/jms/last-value-queue/logs

# /examples/jms/last-value-queue/server0/
/examples/jms/last-value-queue/server0/data
/examples/jms/last-value-queue/server0/logs

# /examples/jms/management/
/examples/jms/management/build
/examples/jms/management/logs

# /examples/jms/management/server0/
/examples/jms/management/server0/data
/examples/jms/management/server0/logs

# /examples/jms/management-notifications/
/examples/jms/management-notifications/build
/examples/jms/management-notifications/logs

# /examples/jms/management-notifications/server0/
/examples/jms/management-notifications/server0/logs
/examples/jms/management-notifications/server0/data

# /examples/jms/message-counters/
/examples/jms/message-counters/build
/examples/jms/message-counters/logs

# /examples/jms/message-counters/server0/
/examples/jms/message-counters/server0/data
/examples/jms/message-counters/server0/logs

# /examples/jms/message-group/
/examples/jms/message-group/build
/examples/jms/message-group/logs

# /examples/jms/message-group/server0/
/examples/jms/message-group/server0/data
/examples/jms/message-group/server0/logs

# /examples/jms/message-priority/
/examples/jms/message-priority/build
/examples/jms/message-priority/logs

# /examples/jms/message-priority/server0/
/examples/jms/message-priority/server0/data
/examples/jms/message-priority/server0/logs

# /examples/jms/no-consumer-buffering/
/examples/jms/no-consumer-buffering/build
/examples/jms/no-consumer-buffering/logs

# /examples/jms/no-consumer-buffering/server0/
/examples/jms/no-consumer-buffering/server0/data
/examples/jms/no-consumer-buffering/server0/logs

# /examples/jms/non-transaction-failover/
/examples/jms/non-transaction-failover/build

# /examples/jms/non-transaction-failover/server0/
/examples/jms/non-transaction-failover/server0/data

# /examples/jms/non-transaction-failover/server1/
/examples/jms/non-transaction-failover/server1/data

# /examples/jms/paging/
/examples/jms/paging/build
/examples/jms/paging/logs

# /examples/jms/paging/server0/
/examples/jms/paging/server0/data
/examples/jms/paging/server0/logs

# /examples/jms/perf/
/examples/jms/perf/build
/examples/jms/perf/data

# /examples/jms/pre-acknowledge/
/examples/jms/pre-acknowledge/build
/examples/jms/pre-acknowledge/logs

# /examples/jms/pre-acknowledge/server0/
/examples/jms/pre-acknowledge/server0/data
/examples/jms/pre-acknowledge/server0/logs

# /examples/jms/producer-rate-limit/
/examples/jms/producer-rate-limit/build
/examples/jms/producer-rate-limit/logs

# /examples/jms/producer-rate-limit/server0/
/examples/jms/producer-rate-limit/server0/data
/examples/jms/producer-rate-limit/server0/logs

# /examples/jms/queue/
/examples/jms/queue/build
/examples/jms/queue/logs

# /examples/jms/queue/server0/
/examples/jms/queue/server0/data
/examples/jms/queue/server0/logs

# /examples/jms/queue-message-redistribution/
/examples/jms/queue-message-redistribution/build
/examples/jms/queue-message-redistribution/logs

# /examples/jms/queue-message-redistribution/server0/
/examples/jms/queue-message-redistribution/server0/data
/examples/jms/queue-message-redistribution/server0/logs

# /examples/jms/queue-message-redistribution/server1/
/examples/jms/queue-message-redistribution/server1/data
/examples/jms/queue-message-redistribution/server1/logs

# /examples/jms/queue-requestor/
/examples/jms/queue-requestor/build
/examples/jms/queue-requestor/logs

# /examples/jms/queue-requestor/server0/
/examples/jms/queue-requestor/server0/data
/examples/jms/queue-requestor/server0/logs

# /examples/jms/queue-selector/
/examples/jms/queue-selector/build
/examples/jms/queue-selector/logs

# /examples/jms/queue-selector/server0/
/examples/jms/queue-selector/server0/data
/examples/jms/queue-selector/server0/logs

# /examples/jms/reattach-node/
/examples/jms/reattach-node/build
/examples/jms/reattach-node/logs

# /examples/jms/reattach-node/server0/
/examples/jms/reattach-node/server0/data
/examples/jms/reattach-node/server0/logs

# /examples/jms/request-reply/
/examples/jms/request-reply/build
/examples/jms/request-reply/logs

# /examples/jms/request-reply/server0/
/examples/jms/request-reply/server0/data
/examples/jms/request-reply/server0/logs

# /examples/jms/scheduled-message/
/examples/jms/scheduled-message/build
/examples/jms/scheduled-message/logs

# /examples/jms/scheduled-message/server0/
/examples/jms/scheduled-message/server0/data
/examples/jms/scheduled-message/server0/logs

# /examples/jms/security/
/examples/jms/security/build
/examples/jms/security/logs

# /examples/jms/security/server0/
/examples/jms/security/server0/data
/examples/jms/security/server0/logs

# /examples/jms/send-acknowledgements/
/examples/jms/send-acknowledgements/build
/examples/jms/send-acknowledgements/logs

# /examples/jms/send-acknowledgements/server0/
/examples/jms/send-acknowledgements/server0/data
/examples/jms/send-acknowledgements/server0/logs

# /examples/jms/ssl-enabled/
/examples/jms/ssl-enabled/build
/examples/jms/ssl-enabled/logs

# /examples/jms/ssl-enabled/server0/
/examples/jms/ssl-enabled/server0/data
/examples/jms/ssl-enabled/server0/logs

# /examples/jms/static-selector/
/examples/jms/static-selector/build
/examples/jms/static-selector/logs

# /examples/jms/static-selector/server0/
/examples/jms/static-selector/server0/data
/examples/jms/static-selector/server0/logs

# /examples/jms/static-selector-jms/
/examples/jms/static-selector-jms/logs
/examples/jms/static-selector-jms/build

# /examples/jms/static-selector-jms/server0/
/examples/jms/static-selector-jms/server0/data
/examples/jms/static-selector-jms/server0/logs

# /examples/jms/stomp/
/examples/jms/stomp/build

# /examples/jms/stomp/server0/
/examples/jms/stomp/server0/data

# /examples/jms/symmetric-cluster/
/examples/jms/symmetric-cluster/build
/examples/jms/symmetric-cluster/logs

# /examples/jms/symmetric-cluster/server0/
/examples/jms/symmetric-cluster/server0/data
/examples/jms/symmetric-cluster/server0/logs

# /examples/jms/symmetric-cluster/server1/
/examples/jms/symmetric-cluster/server1/data
/examples/jms/symmetric-cluster/server1/logs

# /examples/jms/symmetric-cluster/server2/
/examples/jms/symmetric-cluster/server2/data
/examples/jms/symmetric-cluster/server2/logs

# /examples/jms/symmetric-cluster/server3/
/examples/jms/symmetric-cluster/server3/data
/examples/jms/symmetric-cluster/server3/logs

# /examples/jms/symmetric-cluster/server4/
/examples/jms/symmetric-cluster/server4/data
/examples/jms/symmetric-cluster/server4/logs

# /examples/jms/symmetric-cluster/server5/
/examples/jms/symmetric-cluster/server5/data
/examples/jms/symmetric-cluster/server5/logs

# /examples/jms/temp-queue/
/examples/jms/temp-queue/build
/examples/jms/temp-queue/logs

# /examples/jms/temp-queue/server0/
/examples/jms/temp-queue/server0/data
/examples/jms/temp-queue/server0/logs

# /examples/jms/topic/
/examples/jms/topic/build
/examples/jms/topic/logs

# /examples/jms/topic/server0/
/examples/jms/topic/server0/data
/examples/jms/topic/server0/logs

# /examples/jms/topic-hierarchies/
/examples/jms/topic-hierarchies/build
/examples/jms/topic-hierarchies/logs

# /examples/jms/topic-hierarchies/server0/
/examples/jms/topic-hierarchies/server0/data
/examples/jms/topic-hierarchies/server0/logs

# /examples/jms/topic-selector-example1/
/examples/jms/topic-selector-example1/build
/examples/jms/topic-selector-example1/logs

# /examples/jms/topic-selector-example1/server0/
/examples/jms/topic-selector-example1/server0/data
/examples/jms/topic-selector-example1/server0/logs

# /examples/jms/topic-selector-example2/
/examples/jms/topic-selector-example2/build
/examples/jms/topic-selector-example2/logs

# /examples/jms/topic-selector-example2/server0/
/examples/jms/topic-selector-example2/server0/data
/examples/jms/topic-selector-example2/server0/logs

# /examples/jms/transaction-failover/
/examples/jms/transaction-failover/build

# /examples/jms/transaction-failover/server0/
/examples/jms/transaction-failover/server0/data

# /examples/jms/transaction-failover/server1/
/examples/jms/transaction-failover/server1/data

# /examples/jms/transactional/
/examples/jms/transactional/build
/examples/jms/transactional/logs

# /examples/jms/transactional/server0/
/examples/jms/transactional/server0/data
/examples/jms/transactional/server0/logs

# /examples/jms/xa-heuristic/
/examples/jms/xa-heuristic/build
/examples/jms/xa-heuristic/logs

# /examples/jms/xa-heuristic/server0/
/examples/jms/xa-heuristic/server0/data
/examples/jms/xa-heuristic/server0/logs

# /examples/jms/xa-receive/
/examples/jms/xa-receive/build
/examples/jms/xa-receive/logs

# /examples/jms/xa-receive/server0/
/examples/jms/xa-receive/server0/data
/examples/jms/xa-receive/server0/logs

# /examples/jms/xa-send/
/examples/jms/xa-send/build
/examples/jms/xa-send/logs

# /examples/jms/xa-send/server0/
/examples/jms/xa-send/server0/data
/examples/jms/xa-send/server0/logs

# /examples/jms/xa-with-jta/
/examples/jms/xa-with-jta/server0/data
/examples/jms/xa-with-jta/build
/examples/jms/xa-with-jta/logs
/examples/jms/xa-with-jta/ObjectStore

# /examples/jms/xa-with-jta/server0/
/examples/jms/xa-with-jta/server0/data
/examples/jms/xa-with-jta/server0/logs

# /examples/soak/normal/
/examples/soak/normal/build

# /examples/soak/tx-restarts/
/examples/soak/tx-restarts/build

# /hornetq-bootstrap/
/hornetq-bootstrap/target
/hornetq-bootstrap/.project

# /hornetq-core/
/hornetq-core/target
/hornetq-core/.project

# /hornetq-core-client/
/hornetq-core-client/target
/hornetq-core-client/.project

# /hornetq-jboss-as-integration/
/hornetq-jboss-as-integration/target
/hornetq-jboss-as-integration/.project

# /hornetq-jms/
/hornetq-jms/target
/hornetq-jms/.project

# /hornetq-jms-client/
/hornetq-jms-client/target
/hornetq-jms-client/.project

# /hornetq-logging/
/hornetq-logging/target
/hornetq-logging/.project

# /hornetq-ra/
/hornetq-ra/.project

# /hornetq-ra/hornetq-ra-jar/
/hornetq-ra/hornetq-ra-jar/target
/hornetq-ra/hornetq-ra-jar/.project

# /hornetq-ra/hornetq-ra-rar/
/hornetq-ra/hornetq-ra-rar/target
/hornetq-ra/hornetq-ra-rar/.project

# /hornetq-rest/
/hornetq-rest/.project

# /hornetq-rest/docbook/
/hornetq-rest/docbook/target

# /hornetq-rest/hornetq-rest/
/hornetq-rest/hornetq-rest/target
/hornetq-rest/hornetq-rest/.project

# /hornetq-service-sar/
/hornetq-service-sar/target
/hornetq-service-sar/.project

# /hornetq-spring-integration/
/hornetq-spring-integration/target
/hornetq-spring-integration/.project

# /hornetq-twitter-integration/
/hornetq-twitter-integration/target
/hornetq-twitter-integration/.project
/tests/concurrent-tests/.project
/tests/integration-tests/.project
/tests/jms-tests/.project
/tests/joram-tests/.project
/tests/performance-tests/.project
/tests/.project
/tests/soak-tests/.project
/tests/stress-tests/.project
/tests/timing-tests/.project
/tests/unit-tests/.project
/docs/rest-manual/.project
/docs/quickstart-guide/.project
