.idea/
build/
logs/
docs/quickstart-guide/target/
docs/user-manual/target/
eclipse-output/
examples/common/Common1.iml
examples/core/embedded-remote/Embedded-remote.iml
examples/core/embedded/Embedded3.iml
examples/core/microcontainer/Microcontainer.iml
examples/core/perf/Perf3.iml
examples/core/twitter-connector/Twitter-connector.iml
examples/javaee/ejb-jms-transaction/Ejb-jms-transaction.iml
examples/javaee/hajndi/Hajndi1.iml
examples/javaee/jca-config/Jca-config1.iml
examples/javaee/jca-remote/Jca-remote.iml
examples/javaee/jms-bridge/Jms-bridge2.iml
examples/javaee/mdb-bmt/Mdb-bmt.iml
examples/javaee/mdb-cmt-setrollbackonly/Mdb-cmt-setrollbackonly1.iml
examples/javaee/mdb-cmt-tx-local/Mdb-cmt-tx-local1.iml
examples/javaee/mdb-cmt-tx-not-supported/Mdb-cmt-tx-not-supported.iml
examples/javaee/mdb-cmt-tx-required/Mdb-cmt-tx-required.iml
examples/javaee/mdb-message-selector/Mdb-message-selector1.iml
examples/javaee/mdb-remote-failover-static/Mdb-remote-failover-static.iml
examples/javaee/mdb-remote-failover/Mdb-remote-failover.iml
examples/javaee/mdb-tx-send/Mdb-tx-send.iml
examples/javaee/servlet-ssl/Servlet-ssl1.iml
examples/javaee/servlet-transport/Servlet-transport.iml
examples/javaee/xarecovery/Xarecovery.iml
examples/jms/applet/Applet.iml
examples/jms/application-layer-failover/Application-layer-failover1.iml
examples/jms/bridge/Bridge1.iml
examples/jms/browser/Browser.iml
examples/jms/client-kickoff/Client-kickoff.iml
examples/jms/client-side-load-balancing/Client-side-load-balancing.iml
examples/jms/clustered-durable-subscription/Clustered-durable-subscription.iml
examples/jms/clustered-grouping/Clustered-grouping.iml
examples/jms/clustered-queue/Clustered-queue1.iml
examples/jms/clustered-standalone/Clustered-standalone1.iml
examples/jms/clustered-static-discovery/Clustered-static-discovery1.iml
examples/jms/clustered-static-oneway/Clustered-static-oneway1.iml
examples/jms/clustered-topic/Clustered-topic1.iml
examples/jms/consumer-rate-limit/Consumer-rate-limit1.iml
examples/jms/dead-letter/Dead-letter1.iml
examples/jms/delayed-redelivery/Delayed-redelivery.iml
examples/jms/divert/Divert1.iml
examples/jms/durable-subscription/Durable-subscription1.iml
examples/jms/embedded-simple/Embedded-simple.iml
examples/jms/embedded/Embedded.iml
examples/jms/expiry/Expiry1.iml
examples/jms/http-transport/Http-transport.iml
examples/jms/instantiate-connection-factory/Instantiate-connection-factory.iml
examples/jms/interceptor/Interceptor.iml
examples/jms/jaas/Jaas1.iml
examples/jms/jms-bridge/Jms-bridge1.iml
examples/jms/jmx/Jmx1.iml
examples/jms/large-message/Large-message1.iml
examples/jms/last-value-queue/Last-value-queue1.iml
examples/jms/management-notifications/Management-notifications1.iml
examples/jms/management/Management1.iml
examples/jms/message-counters/Message-counters.iml
examples/jms/message-group/Message-group1.iml
examples/jms/message-group2/Message-group21.iml
examples/jms/message-priority/Message-priority.iml
examples/jms/multiple-failover-failback/Multiple-failover-failback1.iml
examples/jms/multiple-failover/Multiple-failover.iml
examples/jms/no-consumer-buffering/No-consumer-buffering1.iml
examples/jms/non-transaction-failover/Non-transaction-failover1.iml
examples/jms/paging/Paging.iml
examples/jms/perf/Perf2.iml
examples/jms/pre-acknowledge/Pre-acknowledge.iml
examples/jms/producer-rate-limit/Producer-rate-limit1.iml
examples/jms/queue-message-redistribution/Queue-message-redistribution.iml
examples/jms/queue-requestor/Queue-requestor1.iml
examples/jms/queue-selector/Queue-selector.iml
examples/jms/queue/Queue.iml
examples/jms/reattach-node/Reattach-node.iml
examples/jms/request-reply/Request-reply1.iml
examples/jms/scheduled-message/Scheduled-message1.iml
examples/jms/security/Security.iml
examples/jms/send-acknowledgements/Send-acknowledgements1.iml
examples/jms/spring-integration/Spring-integration1.iml
examples/jms/ssl-enabled/Ssl-enabled.iml
examples/jms/static-selector-jms/Static-selector-jms.iml
examples/jms/static-selector/Static-selector1.iml
examples/jms/stomp-websockets/Stomp-websockets1.iml
examples/jms/stomp/Stomp.iml
examples/jms/stop-server-failover/Stop-server-failover.iml
examples/jms/symmetric-cluster/Symmetric-cluster.iml
examples/jms/temp-queue/Temp-queue1.iml
examples/jms/topic-hierarchies/Topic-hierarchies.iml
examples/jms/topic-selector-example1/Topic-selector-example1.iml
examples/jms/topic-selector-example2/Topic-selector-example2.iml
examples/jms/topic/Topic1.iml
examples/jms/transaction-failover/Transaction-failover.iml
examples/jms/transactional/Transactional.iml
examples/jms/xa-heuristic/Xa-heuristic1.iml
examples/jms/xa-receive/Xa-receive.iml
examples/jms/xa-send/Xa-send1.iml
examples/jms/xa-with-jta/Xa-with-jta1.iml
examples/soak/normal/Normal.iml
examples/soak/tx-restarts/Tx-restarts.iml
hornetq-rest/docbook/target/
hornetq-rest/examples/javascript-chat/src/test/Test1.iml
hornetq-rest/hornetq-rest/src/main/Main.iml
hornetq-rest/hornetq-rest/src/test/Test.iml
hornetq-rest/hornetq-rest/target/
native/src/org_hornetq_core_asyncio_impl_AsynchronousFileImpl.h
src/Hornetq-branch.iml
tests/Tests.iml
tests/joram-tests/Joram-tests.iml
thirdparty/
