<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- $Id: log4j.xml 1184 2006-08-03 18:52:12Z ovidiu.feodorov@jboss.com $ -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="TRACE#org.jboss.logging.XLevel"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%t %d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <category name="com.arjuna">
      <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <category name="org.apache">
      <priority value="TRACE"/>
   </category>

   <category name="org.jgroups">
      <priority value="WARN"/>
   </category>

   <category name="org.jboss">
      <priority value="INFO"/>
   </category>

   <category name="org.jboss.messaging">
      <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <category name="org.jboss.jms">
      <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <category name="org.jboss.test">
      <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <category name="org.apache.mina">
      <priority value="TRACE#org.jboss.logging.XLevel"/>
   </category>
   <root>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>
