#
# Smoke test configuration
#

#JBoss AS 4.0.0 and 4.0.1 are not supported

jboss401sp1.home=C:\\dev\jboss-4.0.1sp1-src\\build\\output\\jboss-4.0.1sp1
jboss402.home=C:\\dev\\jboss-4.0.2-src\\build\\output\\jboss-4.0.2
jboss403SP1.home=C:\\dev\\jboss-4.0.3SP1-src\\build\\output\\jboss-4.0.3SP1
jboss403SP1-installer.home=C:\\dev\\jboss-4.0.3SP1-installer
jboss404GA.home=C:\\dev\\jboss-4.0.4.GA-src\\build\\output\\jboss-4.0.4.GA
jboss404GA-installer.home=C:\\dev\\jboss-4.0.4.GA0-installer
jboss405GA.home=C:\\dev\\jboss-4.0.5.GA-src\\build\\output\\jboss-4.0.5.GA
jboss405GA-installer.home=C:\\dev\\jboss-4.0.5.GA-installer
jboss405GAejb3.home=C:\\dev\\jboss-4.0.5.GA-installer-ejb3

#
# Compatibility test configuration
#
jboss.compatibility.home=C:\\work\\messaging-compatibility\\jboss-4.0.4.GA
