<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- $Id: log4j.xml 1184 2006-08-03 18:52:12Z ovidiu.feodorov@jboss.com $ -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="FILE" class="org.jboss.logging.appender.DailyRollingFileAppender">

      <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
      <!--
          Normally "test.logfile.suffix" takes on of the values: "invm", "remote-client",
          "remote-server", "clustering-client", "clustering-server<index>", "crash-client",
          "crash-server", etc.
      -->
      <param name="File" value="${module.output}/logs/messaging-${test.logfile.suffix}.log"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>
      <param name="Threshold" value="TRACE#org.jboss.logging.XLevel"/>

      <!-- since majority of the tests are ran in fork mode by ant, the log file is overwritten
           for each test. We need to append if we want to preserve a full testsuite run log.
           Make sure the build script clears this log at the beginning of each run.
      -->
      <param name="Append" value="true"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5r %-5p [%c] @%t %m%n"/>
      </layout>
   </appender>

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="INFO"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%t %d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <category name="com.arjuna">
      <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <category name="org.apache">
      <priority value="INFO"/>
   </category>

   <category name="org.jgroups">
      <priority value="WARN"/>
   </category>

   <category name="org.jboss">
      <priority value="INFO"/>
   </category>

   <category name="org.jboss.messaging">
      <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <category name="org.jboss.jms">
      <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <category name="org.jboss.test">
      <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <!-- Ignoring trace from these: -->

   <category name="org.jboss.jms.server.remoting.JMSServerInvocationHandler">
      <priority value="DEBUG"/>
   </category>

   <category name="org.jboss.test.messaging.tools.container.MockJBossSecurityManager">
      <priority value="DEBUG"/>
   </category>

   <category name="org.jboss.jms.wireformat.JMSWireFormat">
      <priority value="DEBUG"/>
   </category>

   <root>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
   </root>

</log4j:configuration>
