#
# Example properties file for locally overriding any environment variables for release-admin.xml
# Rename it to release-admin.xml for it to take effect
#
#
main.artifact.location=../output/lib
auxiliary.artifacts.location=../src/etc/server/default/deploy
messaging.artifact.name=jboss-messaging-scoped.sar
#
# standalone config name override
#
standalone.messaging.config.name=sm

