grant {
        //permission java.security.AllPermission;
        
        // allow to connect to localhost
        permission java.net.SocketPermission "localhost:1024-", "connect";
};